body {
    /* filter: blur(10px); */
    backdrop-filter: blur(10px);
}

div.books {
    overflow-y: scroll;
    grid-row: 2 / 3;
    background-color: var(--colour-light-grey);
    grid-column: 2 / 4;
}

div.books > h2 {
    margin-left: 16px;
    margin-top: 4px;
    font-size: 24px;
    font-weight: bold;
}

div.books > div.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px 16px;
    margin: 16px;
    /* height: max(600px); */
}

div.books > div.books-container div.book-item {
    background-color: var(--colour-white);
    border-radius: 16px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    display: grid;
    padding: 16px 0 0 16px;
    grid-template-rows: 1fr auto;
}

div.book-item.read {
    border-left: 20px solid rgb(143, 209, 143);
}

div.book-item{
    border-left: 20px solid red;
    border-left: 20px solid var(--colour-lilac);
}

div.books > div.books-container div.book-item h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

div.books > div.books-container div.book-item h4:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--colour-dark-grey);
}

div.books > div.books-container div.book-item p {
    font-size: 14px;
    color: var(--colour-light-black);
    margin-right: 8px;
}

div.books-container div.book-item div.book-icons {
    text-align: right;
    margin: 16px 16px 8px 0;
}

div.books-container div.book-item div.book-icons img {
    padding: 0 8px;
}

div.books-container div.book-item div.book-icons img:hover {
    transform: scale(1.1);
    filter: invert(62%) sepia(23%) saturate(5970%) hue-rotate(359deg) brightness(100%) contrast(105%);
    cursor: pointer;
}

div.books-container div.book-item div.book-icons img.r-icon:hover {
    filter: invert(61%) sepia(59%) saturate(3141%) hue-rotate(157deg) brightness(101%) contrast(101%);
}


/* Books Icons */
/* Started editing the bin button, to how to select it to delete the book */
div.books-container div.book-item div.book-icons img.bin-icon:hover {
   transform: scale(1.1) rotate(10deg);
   filter: invert(18%) sepia(54%) saturate(6308%) hue-rotate(339deg) brightness(87%) contrast(98%);
}


/* Form */
#modal {
    display: none;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(51, 51, 51, 0.964);
    color: #fff;
    border-radius: 16px;
    width: 600px;
    height: 450px;
    padding: 16px 32px;
    animation-name: animatemodal;
    animation-duration: 0.4s;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-header h1 {
    padding: 20px;
}

span.close {
    font-size: 3rem;
    color: #fff;
    float: right;
}

span.close:hover {
    cursor: pointer;
    font-size: 3rem;
    color: red;
}

#add-book-form {
    /* background-color: #333; */
    color: #fff;
    font-weight: bold;
    width: max-content;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 16px;
    font-size: 24px;
}

#add-book-form  > .book-title,
#add-book-form  > .book-author,
#add-book-form  > .book-length,
#add-book-form  > .book-read {
    margin: 16px;
}

#add-book-form input, 
#add-book-form select {
    width: 200px;
    height: 28px;
    float: right;
    margin-left: 16px;
    padding-left: 4px;
    outline-color: rgb(140, 119, 233);
    font-weight: bold;
}


/* Form Btn */
#add-book-form button {
    font-weight: bold;
    background-color: #fff;
    color: #333;
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
    margin: 16px auto;
    font-size: 20px;
}

#add-book-form button:hover {
    background-color: rgb(140, 119, 233);
    cursor: pointer;
}


/* Modal Animation */
@keyframes animatemodal {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}